extends layouts/common

block content
		#slideshow
			ul.slides
				li
					a(href='details.html')
						canvas
						img(src='../images/banner1.jpeg', alt='Marsa Alam underawter close up')
				li
					a(href='details.html')
						canvas
						img(src='../images/banner2.jpeg', alt='Turrimetta Beach - Dawn')
				li
					a(href='details.html')
						canvas
						img(src='../images/banner3.jpeg', alt='Power Station')
				li
					a(href='details.html')
						canvas
						img(src='../images/banner4.jpeg', alt='Colors of Nature')
			span.arrow.previous
			span.arrow.next
		.content-wrapper
			.content-top
				.box_wrapper
					h1 New Products For July
				.text
					.grid_1_of_3.images_1_of_3
						.grid_1
							a(href='single.html')
								img(src='images/pic5.jpg', title='continue reading', alt='')
							.grid_desc
								p.title Lorem ipsum dolor sitconsectetuer adipiscing elit
								p.title1 Lorem ipsum dolor sitconsectetuer adipiscing elit
								.price
									span.reducedfrom $66.00
									span.actual $12.00
								.cart-button
									.cart
										a(href='#')
											img(src='images/cart.png', alt='')
									button.button
										span Details
									.clear
						.clear
					.grid_1_of_3.images_1_of_3
						.grid_1
							a(href='single.html')
								img(src='images/pic6.jpg', title='continue reading', alt='')
							.grid_desc
								p.title Lorem ipsum dolor sitconsectetuer adipiscing elit
								p.title1 Lorem ipsum dolor sitconsectetuer adipiscing elit
								.price
									span.reducedfrom $66.00
									span.actual $12.00
								.cart-button
									.cart
										a(href='#')
											img(src='images/cart.png', alt='')
									button.button
										span Details
									.clear
						.clear
					.grid_1_of_3.images_1_of_3
						.grid_1
							a(href='single.html')
								img(src='images/pic4.jpg', title='continue reading', alt='')
							.grid_desc
								p.title Lorem ipsum dolor sitconsectetuer adipiscing elit
								p.title1 Lorem ipsum dolor sitconsectetuer adipiscing elit
								.price
									span.reducedfrom $66.00
									span.actual $12.00
								.cart-button
									.cart
										a(href='#')
											img(src='images/cart.png', alt='')
									button.button
										span Details
									.clear
						.clear
					.clear
			.content-top
				.box_wrapper
					h1 Featured Products
				.text
					.grid_1_of_3.images_1_of_3
						.grid_1
							a(href='single.html')
								img(src='images/pic1.jpg', title='continue reading', alt='')
							.grid_desc
								p.title Lorem ipsum dolor sitconsectetuer adipiscing elit
								p.title1 Lorem ipsum dolor sitconsectetuer adipiscing elit
								.price
									span.reducedfrom $66.00
									span.actual $12.00
								.cart-button
									.cart
										a(href='#')
											img(src='images/cart.png', alt='')
									button.button
										span Details
									.clear
						.clear
					.grid_1_of_3.images_1_of_3
						.grid_1
							a(href='single.html')
								img(src='images/pic2.jpg', title='continue reading', alt='')
							.grid_desc
								p.title Lorem ipsum dolor sitconsectetuer adipiscing elit
								p.title1 Lorem ipsum dolor sitconsectetuer adipiscing elit
								.price
									span.reducedfrom $66.00
									span.actual $12.00
								.cart-button
									.cart
										a(href='#')
											img(src='images/cart.png', alt='')
									button.button
										span Details
									.clear
						.clear
					.grid_1_of_3.images_1_of_3
						.grid_1
							a(href='single.html')
								img(src='images/pic3.jpg', title='continue reading', alt='')
							.grid_desc
								p.title Lorem ipsum dolor sitconsectetuer adipiscing elit
								p.title1 Lorem ipsum dolor sitconsectetuer adipiscing elit
								.price
									span.reducedfrom $66.00
									span.actual $12.00
								.cart-button
									.cart
										a(href='#')
											img(src='images/cart.png', alt='')
									button.button
										span Details
									.clear
						.clear
					.clear
