.about-group
			.about-top
				.grid.images_3_of_1
					img(src='images/pic7.jpg', alt='')
				.grid.span_2_of_3
					h3 CHÀO MỪNG BẠN ĐẾN TRẢI NGHIỆM XE XE TUYỆT VỜI VỚI GIÁ ĐÚNG Chuyên gia xe hơi LLC
					p 
						| &emsp;Mục tiêu của chúng tôi là cung cấp Chất lượng, Giá cả phải chăng và trải nghiệm mua hàng tốt nhất cho tất cả Khách hàng. <br> &emsp;Chúng tôi có một lựa chọn lớn về chất lượng xe sở hữu trước.<br>&emsp;Chúng tôi muốn khách hàng của chúng tôi rời khỏi lô với sự tự tin.<br>&emsp;Đổi xe của bạn ngay hôm nay để được giảm giá lớn, chúng tôi mua ô tô tiền mặt
					p
						| &emsp;Dừng lại ngay hôm nay và xem tại sao Đại lý của chúng tôi luôn là sự lựa chọn của mọi người<br>&emsp;Hãy xem qua trang web của chúng tôi để xem những gì phù hợp với nhu cầu của bạn nhất!<br>&emsp;Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi bằng Mẫu Liên hệ với chúng tôi hoặc gọi cho chúng tôi theo số (407) 434-0123.<br>&emsp;Chúng tôi được đặt tại 4825 Edgwater Drive, Orlando 32804.
				.clear